<% object = self.send(:object) %>
<fieldset>
	<legend>Events</legend>
	<div class="title">
	<%= f.field :title %>
	</div>
	<%= f.label :start_date %><br />
	<%= f.text_field :start_date, :class => 'datepicker_time' %><br /><br />
	<hr />
	<%= f.label :finish_date %><br />
	<%= f.text_field :finish_date, :class => 'datepicker_time' %><br /><br />
	<%= f.field(:body, :helper => :text_area, :helper_options => {:class => 'wysiwyg', :cols => 60, :rows => 20}) %>
	<%= f.field :spaces, :label => 'Number of spaces available' %>
	<%= f.field :price, :lable => 'Price (Per Person)' %>
</fieldset>
<p class="buttons">
  <% unless request.xhr? %>
  <%= link_button 'Cancel and go back', collection_path, :icon => 'cross', :class => 'negative' %>
  <% end %>
  <% if object.new_record? %>
  <%= button "Create #{human_model_name}", :icon => 'tick' %>
  <% else %>
  <%= button 'Save changes', :icon => 'tick' %>
	<%= link_button 'Delete Event', admin_page_course_event_path(@page.id, object.id), :method => :delete, :icon => 'cross', :class => 'negative' %>
  <% end %>
</p>