<% unless active %>
<li>
	<div class="container">
		<div class="overlay">
			<h4><%= truncate(callout.title, :length => 30) %></h4>
			<%= content_tag('p', callout.subtitle) if callout.subtitle %>
			<small><%= truncate(callout.url, :length => 30) %></small>
		</div>
			<%= image_tag callout.callout.url(:standard) %>
	</div>
	<ul>
		<li>
			<% create_form do |f| %>				
				<%= f.hidden_field :callout_id, :value => callout.id %>
				<%= f.submit 'Activate' %>
			<% end %>
		</li>
	</ul>
</li>
<% else %>
<li id="page_callout_<%= callout.id %>">
	<div class="container">
		<div class="overlay">
			<h4><%= truncate(callout.callout.title, :length => 30) %></h4>
			<%= content_tag('p', callout.callout.subtitle) if callout.callout.subtitle %>
			<small><%= truncate(callout.callout.url, :length => 30) %></small>
		</div>
			<%= image_tag callout.callout.callout.url(:standard) %>
	</div>
	<ul>
		<li>
      <%= link_to "#{icon('delete')} Delete", object_path(callout), :method => :delete, :confirm => 'Are you sure?' %>
		</li>
	</ul>
</li>
<% end %>
