<%= render :partial => 'layouts/shared/header' %>
	<section id="content" class="homepage">
  			<%= render_breadcrumb %>
  			<%= render_flash %>
  			<%= yield %>
	</section>
<%= render :partial => 'layouts/shared/footer' %>
